.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}
.navbar-nav  li a:hover {
    color: #964289 !important;
}
.navbar-default {
    background-image: linear-gradient(#3090C7,#d9edf7);
    border-color: #e7e7e7;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-image:linear-gradient(#d9edf7,#3090C7);
}

.footer p {
	margin-top: 35px;
	font-size: 14px;
  color: rgb(6, 19, 59);
  font-weight: bold;
}
h1{
    background-color: #073047;
    color: #d9edf7;
}
